.jumbotron {
  padding-top: 6rem;
  background-color:#e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

#contact {
  background-color: #e2edff;
}
<<<<<<< HEAD

=======
>>>>>>> d843554ef6910a429115ba7fcc44fcc79f5ad59b
